.Large-Chat-Users {
    background: white;
}

.Large-Chat-Users ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Large-Chat-Users .User-Info{
    display: flex;
    align-items: center;
}

.Large-Chat-Users .User-Info .Avatar-Container{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Large-Chat-Users .User-Info .Content{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.Large-Chat-Users .User-Info .Content .TopContent{
    display: flex;
}

.Large-Chat-Users .User-Info .Content .TopContent .Nickname{
    flex-grow: 1;
    flex-basis: 100%;
    font-size: 15px;
    font-weight: 400;
}

.Large-Chat-Users .User-Info .Content .TopContent .Date{
    flex-grow: 0;
    font-size: 13px;
    font-weight: 400;
    color: #0006;
}


.Large-Chat-Users .User-Info .Content .BottomContent{
    display: flex;
}

.Large-Chat-Users .User-Info .Content .BottomContent .Desc{
    flex-grow: 1;
    font-size: 13px;
    font-weight: 400;
    color: #999;
}