

.Large-Chat-User-List-Item{
    display: flex;
    align-items: center;
    background: white;
    cursor: pointer;
}

.Large-Chat-User-List-Item .Avatar-Container{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Large-Chat-User-List-Item .Content{
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
}

.Large-Chat-User-List-Item .Content .TopContent{
    display: flex;
}

.Large-Chat-User-List-Item .Content .TopContent .Nickname{
    flex-grow: 1;
    flex-basis: 100%;
    font-size: 15px;
    font-weight: 400;
}

.Large-Chat-User-List-Item .Content .TopContent .Date{
    flex-grow: 0;
    font-size: 13px;
    font-weight: 400;
    color: #0006;
}


.Large-Chat-User-List-Item .Content .BottomContent{
    display: flex;
}

.Large-Chat-User-List-Item .Content .BottomContent .Desc{
    flex-grow: 1;
    font-size: 13px;
    font-weight: 400;
    color: #999;
    line-height: 1.5;
}