.List-Item{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.List-Item > .Icon{
    flex-grow: 0;
    line-height: 0;
}

.List-Item > .Title{
    flex-grow: 1;
    margin-left: 10px;
}

