


.Left-Section > .Tiny-User-List {
  display: none;
}


@media (max-width: 640px) {
  .Left-Section > .Search-Input{
    display: none;
  }

  .Left-Section > .Tiny-User-List{
    display: block;
  }

  .Left-Section > .Phone-Book-User{
    display: none;
  }

  .Left-Section > .Large-Chat-User{
    display: none !important;
  }

  .Left-Section > .Left-Section-Header{
    display: none;
  }

  
  
  
}



