
.Right-Section{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Right-Section > .Header-Container{
  border-bottom: 1px solid rgba(0, 0, 0, .10);
}

.Right-Section > .Content-Area{
  display: flex;
  flex-grow: 1;
}

.Right-Section > .Content-Area > .Chat-Area{
  flex-grow: 1;
  border-right: 1px solid rgba(0, 0, 0, .10);
  display: flex;
  flex-direction: column;
}

.Right-Section > .Content-Area > .User-Information-Area{
  flex-basis: 40%;
  height: 200px;
  overflow: scroll;
}

.Right-Section > .Content-Area > .User-Information-Area > .User-Config{
  border-bottom: 1px solid rgba(0, 0, 0, .10);
}

.Right-Section > .Content-Area > .User-Information-Area > .User-Gallery{
  border-bottom: 1px solid rgba(0, 0, 0, .10);
}


.Right-Section > .Content-Area > .Chat-Area > .Messages{
  flex-grow: 1;
}

