.chatPanel {
    display: flex;
    min-height: 100vh;
}

.leftPanel {
    background: white;
    /* min-width: 240px;
    max-width: 420px; */
    flex-basis: 70%;
}

.rightPanel {
    background: green;
    flex-grow: 1;
}

